
/*******************************************
				Defaults

Remember to use something like type-scale.com 
to get your font sizes
*******************************************/
*{
	padding:5px;
	
}
html,body{
background: #04B431;
}
h1{

}
h2{

}
p{

}
form{
    max-width: 100%;}

/*******************************************
				Layout
*******************************************/
.wrapper{
	width:2000px;
	margin:5px;
	
}

input, select, textarea{
	display:block;
	text-align:left;	
	font-size: 1.2rem;
	padding: 0.5rem 0.5rem;
	margin: 0 0 0 3rem;
	
}
.masthead{
	
}
.main{
	
}
.foot{
    clear:both;
	background: blue;
	color:red;
	padding-top: 20px;
	border-top: 6px solid #c03;
    width: 100%;
    overflow: hidden;
    
}


/*******************************************
				Form Styles
*******************************************/






/*******************************************
				Image Styles
*******************************************/

@media screen and (max-width: 500px)  {
  label {
   display:block;
	width: 15rem;
	text-align:left;
	
	font-size: 1.2rem;
	
	}
    
    .buttons{
    display:block;
	width: 15rem;
	text-align:left;
	margin: 0 0 0 3rem;
	font-size: 1.2rem;
	padding: 0.6rem 0 0.3rem 0;
    
	
}
label{
	display:block;
	width: 15rem;
	text-align:left;
	margin: 0 0 0 3rem;
	font-size: 1.2rem;
	padding: 0.6rem 0 0.3rem 0; 
	
}
input[type=text],
input[type=number],
input[type=date]{
    display:block;
	width: 15rem;
	text-align:left;
	margin: 0 0 0 3rem;
	font-size: 1.2rem;
	padding: 0.6rem 0 0.3rem 0;
	
}

input[type=reset],input[type=submit]{
    display:block;
	width: 5rem;
	text-align:center;
	margin: 10px;
	font-size: 2rem;
	padding: 10px;
	
}

    
}



@media screen and (min-width: 500px) and (max-width: 780px ) {
  label {
  width: 15rem;
	text-align:left;
	float:left;
	
	
	}
    .buttons{
    
	width: 15rem;
	text-align:left;
	
	font-size: 1.2rem;
	
    
	
}
label{
	display:block;
	
	text-align:left;
	
	font-size: 1.2rem;
	
	
}
input[type=text],
input[type=number],
input[type=date]{
   
	width: 15rem;
	text-align:left;
	
	font-size: 1.2rem;
	
	
}

input[type=reset],input[type=submit]{
    display:block;
	width: 5rem;
	text-align:center;
	
	font-size: 2rem;
	padding: 10px;
	
}

    
}

    
    
@media screen and (min-width: 781px) {
        
.col
    {
        clear: both;
 
    }
    
.formBox:nth-child(odd){
    clear: both;
    float:left;
    width: 400px;
    overflow: hidden;
}
.formBox:nth-child(even){

    float:left;
    width:400px;
    overflow: hidden;
}
        
   .formBox,input[type=text],input[type=date] {
/*
    display:block;
	width: 40%;
	text-align:left;
	float: left;
*/

	}
        
         input[type=number]{
/*
   display:block;
	width: 16%;
            
	text-align:left;
	float: left;
*/
  
  }
       
  
    }

    


